name: Cypress Tests - productLifter

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean workspace
        run: |
          rm -rf node_modules
          rm -f package-lock.json

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Start Vite dev server
        run: npm run dev &
        env:
          CI: true

      - name: Wait for Vite (http://localhost:5173)
        uses: ifaxity/wait-on-action@v1
        with:
          resource: https://adg08101.github.io/react-vite/
          timeout: 60000

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          headless: true
          config: baseUrl=https://adg08101.github.io/react-vite/

      - name: Upload Cypress videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos

      - name: Upload Cypress screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
