name: cypress_tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  workflow_dispatch:
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Clean workspace (remove node_modules + lock file)
        run: |
          rm -rf node_modules
          rm -f package-lock.json
          # Uncomment if you use yarn:
          # rm -f yarn.lock
        working-directory:
          ./product-lifter-frontend
    
        
